brevitas @ git+https://github.com/iksnagreb/brevitas.git@003f9f4070c20639790c7b406a28612a089fc502 # andere Version für brevitas quant nötig!! 0.12.0
qonnx @ git+https://github.com/iksnagreb/qonnx.git@4b731dbf3120316f11ae1c4b298ceaf9e73f21b3
finn @ git+https://github.com/eki-project/finn-plus.git@affcbb12a57caa96fb00f0ec9bd6f696279752c2
onnxoptimizer~=0.3.13
pandas~=2.2.3
h5py~=3.12.1
optimum
onnx==1.17.0
onnx-tool==0.9.0
psutil==7.0.0
pynvml==12.0.0
matplotlib==3.10.1
numpy==1.26.4
PyYAML==6.0.2
pycuda
scikit-learn==1.6.1
onnxscript==0.2.4
dvc
tokenizers==0.21.1
onnxruntime==1.20.1
transformers[torch]
datasets==3.5.1
torch==2.6.0
tqdm==4.67.1
onnxconverter_common==1.14.0
evaluate